body
{
	background: url("../images/iWBk7rH.jpg") no-repeat center center fixed;
	background-size: cover;
    font-family: 'Lato', sans-serif;
}
p
{
	color: #fff;
	font-size: 30px;
	margin-left: 32%;
	margin-top: 15%;
	text-shadow: 20px 18px rgba(9,8,8,0.76),0 6px 10px 0 rgba(0,0,0,0.19);
	font-family: 'Roboto Slab', serif;
    }
    ul {
    list-style-type: none;
    margin: 0px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: static;
    width: 100%;
    top: 0px;
     font-family: 'Lato', sans-serif;
}
li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-left:0px;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
.but {
}