body
{
	background: url("../images/iWBk7rH.jpg") no-repeat center center fixed;
	background-size: cover;
    font-family: 'Lato', sans-serif;
}
h1
{
	color: #000;
	margin-left: 35%;
	margin-top: 3%;
	text-shadow: 20px 18px rgba(9,8,8,0.76),0 6px 10px 0 rgba(0,0,0,0.19);
	font-family: 'Roboto Slab', serif;
    }

    h2
{
    color: #000000;
    font-size: 40px;
    margin-left: 42%;
    text-shadow: 20px 18px rgba(9,8,8,0.76),0 6px 10px 0 rgba(0,0,0,0.19);
    font-family: 'Roboto Slab', serif;
    }


ul {
    list-style-type: none;
    margin: 0px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: static;
    width: 100%;
    top: 0px;
     font-family: 'Lato', sans-serif;
}
li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-left:0px;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
.but {
}

.form
{
    margin-top: 20px;
    position: absolute;
    
    font-size: 20px;
    margin-left: 40%;
     font-family: 'Lato', sans-serif;
    text-shadow: px 0px;
}
.form input
{
    margin-bottom: 20px;
    padding: 8px;
    border: 2px solid black;
    border-radius: 8px;
    font-size: .9em;
    color: black;
    box-shadow: 0 8px 10px 0 rgba(0,0,0,0.40), 0 6px 10px 0 rgba(11,11,11,0.87);
    margin-left: 0px;
}

textarea
{   color: black;
    margin-bottom: 20px;
    padding: 8px;
    border: 2px solid black;
    border-radius: 8px;
    font-size: .9em;
    margin-left: 0px;
    box-shadow: 0 8px 10px 0 rgba(0,0,0,0.40), 0 6px 10px 0 rgba(11,11,11,0.87);
  font-family: 'Lato', sans-serif;
}

.overlay {
    z-index: 1;
    height: 2550px;
    width: 100%;
    position: static;
    overflow: auto;
    top: 0px;
    left: 0px;
    background: rgba(235,235,235,0.18);
    border-radius: 20px;
    bottom: 200px;
    webkit-box-shadow: inset 0px 0px 50px 0px;
    box-shadow: inset 0px 0px 80px 0px;
    text-shadow: 0px 0px 0px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    word-spacing: 0px;
    vertical-align: baseline;
    overflow-x: visible;
    padding-top: 0px;
    margin-left: 0px;
    margin-right: 20px;
}

button
{
    background-color: #3B3737;
    border: 2px solid #0E0D0D;
    border-radius: 10px;
    color: white;
    padding: 12px 40px;
    text-decoration: none;
    
    margin-right: 120px;
    margin-left: 20%;
    cursor: pointer;
    box-shadow: 0 8px 10px 0 rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.19);
    font-size: 20px;
     font-family: 'Lato', sans-serif;
}